body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.5)), url("../images/background2.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.topnav {
    background-color: #af2f09;
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #0a090a;
    transition: 1.5s;
}

.active {
    background-color: #4e4646;

}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 13px;
    margin-right: 16px;
    font-size: 20px;
}


.topnav img {
    float: left;
    width: 60px;
    height: auto;

}

h2 {
    float: left;
    line-height: 50px;
    margin: auto;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 50px;

}

.button {
    background-color: #af2f09;
    border: none;
    color: #ff7700;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

@media screen and (max-width: 700px) {
    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: inline-block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 17px;
    }
    .topnav input[type=text] {
        border: 1px solid #a29292;
    }
    .topnav img {
        padding-left: 40%;

    }

    .inline-block {
        padding: 1000px;
        float: none;
        display: inline-block;
        width: 100%;
    }

    h2 {
        display: block;
        float: left;
        position: relative;
        top: 0%;

    }
    .char {
        float: left;
        width: 100%;
    }

    .import {
        margin-left: auto;
        margin-right: auto;
    }

}

/* Product */

.import {
    background-color: #5d2130;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 60px;
    margin-top: 60px;
}

.products {
    line-height: 1.2;
}

.products li {
    text-align: center;
    display: block;
    float: left;
}

.products a {
    display: block;
    width: 120px;
    height: 160px;
    padding: 10px;
    margin: 10px;
    font-style: none;

}

/* ABOUT */

.about img {
    width: 50px;
}

.inline-block {
    display: inline-block;
    padding: 10% 100px 18px 200px;
    width: 250px;
    float: left;
    text-align: center;
}

.inline-block p {
    font-size: 25px;
}

.inline-block img {
    display: inline-block;
    float: left;
    width: inherit;
    height: inherit;
}

.products li a {
    text-decoration: none;
    color: white;


}

/* Characteristics */

.char {
    width: 80%;
    margin-left: 60px;
}

.char span {
    font-weight: bold;
    font-style: oblique;

}

.export {
    background-color: #bab7b7;
    color: #1c0e03;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 60px;
    margin-top: 60px;
}

/* News */

.news {
    text-decoration: overline;
    font-style: oblique;
    font-size: 20px;
}

.news a {
    color: white;
}
